<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>《梦幻西游》十五门派月光提示器</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body data-ng-app="app">
  <div class="container wp-main" ng-controller="itemCtrl">
    <div class="panel panel-xyq">
      <div class="panel-heading">《梦幻西游》十五门派月光提示器</div>
      <div class="panel-body">
        <a ng-hide="opt.edit" class="pull-left btn btn-primary" ng-click="edit()">编辑</a>
        <a ng-show="opt.edit" class="pull-left btn btn-primary" ng-click="save()">保存</a>
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            推荐方案
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a ng-click="setItem(1)" role="menuitem" tabindex="-1" href="#">有境外旗</a>
            </li>
            <li role="presentation">
              <a ng-click="setItem(2)" role="menuitem" tabindex="-1" href="#">无境外旗</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <ul class="list-group list-xyq-item">
          <li class="list-group-item" ng-repeat="db in item">
            <div class="box" ng-show="opt.edit">
              <form role="form">
                <div class="form-group">
                  <label>成员{{$index+1}}</label>
                  <input ng-model="db.name" class="form-control" placeholder="名字">
                </div>
                <div class="form-group">
                  <label>月光层数</label>
                  <select class="form-control" ng-options="v for v in opt.level" ng-model="db.level">
                  </select>
                </div>
                <div class="form-group">
                  <label>位置</label>
                  <select class="form-control" ng-options="v for v in opt.mp" ng-model="db.local">
                  </select>
                </div>
              </form>
            </div>
            <div class="box show" ng-hide="opt.edit" ng-class="{0:'open'}[db.over]">
              <p class="title">
                <i class="glyphicon glyphicon-map-marker"></i>{{db.local}}</p>
              <strong class="item-name">{{db.name}}</strong>
              <hr>
              <p class="fly_time">{{db.fly | date: "HH:mm:ss"}}</p>
              <p class="item_level">{{db.level}}层</p>
              <p class="end_time">还剩：
                <strong>{{ db.over | date:"mm:ss"}}</strong>
              </p>
              <a class="btn btn-primary btn-block" ng-click="fly(db.id)">使用</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="footer ">
    <div class="container">
      <hr>
      <div class="row footer-bottom">
        <ul class="list-inline text-center">
          <li>xank ©2018</li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- build:js scripts/vendor.js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/plugins.js -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/main.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>
